*{
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
}
ul{
  display: flex;
  align-items: center;
}
button{
  padding: 1rem;
  position: relative;
  border: none;
  background-color: transparent;
  padding-right: 2rem;
}
li{
  padding-right: 2rem;
}
.header{
  font-weight: bolder;
  font-size: 1.5rem;
}
.navbar{
  background-color: lightblue;
  padding: 0;
  width: auto;
  height: 4rem;
}